name: travel_journal_app
description: A simple travel journal Flutter application

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  image_picker: ^1.0.0
  geolocator: ^9.0.0
  sqflite: ^2.0.0+4
  path_provider: ^2.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
